<h1>Recipe details</h1>

<h2><%= @recipe.title %></h2>
<h3>Recipe Description:</h3> <%= @recipe.content %>
<h3>Recipe Ingredients: </h3><%= @recipe.ingredients %></p>
<h3>Cook Time: </h3><%= @recipe.cook_time %></p>
<h3>Serving Size: </h3><%= @recipe.serving_size %></p>
<h3>Time added: </h3><%= @recipe.created_at %></p>

<% if @recipe.user == current_user %>
<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">
  <input type="submit" value="Delete">
</form>

<br>

<p><a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a>
<% end %>
<a href="/recipes">Back To All Recipes</a></p>
<a href="/recipes/new">Add New Recipe</a></p>
<a href="/logout">Logout</a></p>
